<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Convert to Change!</title>
  </head>
  <body>
    <div class='container'>
      <h1>Coin Conversion</h1>
      <p>Enter the amount you would like to convert into coins</p>
      <form action='/change'>
        <div class='form-group'>
          <label for='input'>Amount: $</label>
          <input id='input' name='input' class='form-control' type='number' required>
        </div>
        <button type='submit' class='btn-success'>Convert</button>
      </form>
    </div>
  </body>
</html>
